@{
    ViewData["Title"] = "Assignment 1";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Dany!</h1>
    <a asp-controller="Student" asp-action="List">All students</a>
    <br />
    <a asp-controller="Student" asp-action="Add">Add a new student</a>
</div>
